@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
body {
	font-family: "Overpass", sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	padding: 36px;
	width: 27%;
	background: hsl(213, 19%, 18%);
}
.star-icon {
	background-color: rgba(71, 95, 128, 0.2);
	border-radius: 50%;
	padding: 10px;
	border: 1px solid hsl(213, 20%, 25%);
	padding-bottom: 8px;
}

h1,
h2 {
	padding: 25px 0 10px 0;
	color: hsl(0, 0%, 100%);
}

p {
	color: hsl(217, 12%, 63%);
}
.ratings {
	padding: 24px 0 24px 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

li {
	color: hsl(217, 12%, 63%);
	border-radius: 50%;
	background: rgba(71, 95, 128, 0.2);
	padding: 20px;
	text-decoration: none;
	width: 55px;
	height: 55px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	color: hsl(0, 0%, 100%);
	background: hsl(25, 97%, 53%);
}

.ratings li:hover {
	background: hsl(217, 12%, 63%);
	color: hsl(0, 0%, 100%);
	transition: all ease 0.4s;
}

.submit {
	padding: 15px 32px;
	font-size: 18px;
	cursor: pointer;
	width: 100%;
	border-radius: 30px;
	border: 1px solid hsl(25, 97%, 53%);
	font-weight: 600;
	font-family: "Overpass", sans-serif;
	color: hsl(0, 0%, 100%);
	background: hsl(25, 97%, 53%);
}
.submit:hover {
	color: hsl(25, 97%, 53%);
	background: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 11%, 52%);
	transition: all ease 0.8s;
}
/* Hidden div */

.hidden {
	text-align: center;
	height: 405px;
	display: none;
}
.hidden img {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 26px;
}

.ratings-choice {
	background: rgba(71, 95, 128, 0.2);
	color: hsl(25, 97%, 53%);
	padding: 10px 26px;
	margin: 10px;
	display: inline-block;
	border-radius:30px;
}
.support{
	padding:10px;
}
