@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
body {
	font-family: "Overpass", sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
main {
}
.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	padding: 36px;
	width: 27%;
	background: hsl(213, 19%, 18%);
}
.star-icon {
	background: hsl(213, 20%, 25%);
	border-radius: 50%;
	padding: 10px;
	border: 1px solid hsl(213, 20%, 25%);
	padding-bottom: 8px;
}

h1 {
	padding: 25px 0 10px 0;
	color: hsl(0, 0%, 100%);
}

p {
	color: hsl(217, 12%, 63%);
}
.stars {
	padding: 24px 0 24px 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.stars a {
	color: hsl(217, 12%, 63%);
	border-radius: 50%;
	background: hsl(213, 20%, 25%);
	padding: 20px;
	text-decoration: none;
	opacity: 80%;
}
.stars a .clicked{
	color: hsl(0, 0%, 100%);
	background: hsl(25, 97%, 53%);
}
.stars a:hover {
	background: hsl(217, 12%, 63%);
	color: hsl(0, 0%, 100%);
}
.submit {
	padding: 15px 32px;
	font-size: 18px;
	cursor: pointer;
	width: 100%;
	border-radius: 30px;
	border:1px solid hsl(25, 97%, 53%);
	font-weight: 600;
	font-family: "Overpass", sans-serif;
	color: hsl(0, 0%, 100%);
	background: hsl(25, 97%, 53%);
}
.submit:hover {
	color: hsl(25, 97%, 53%);
	background: hsl(0, 0%, 100%);
	border:1px solid hsl(0, 0%, 100%);
}
